<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>@ViewData["Title"] - MagazinOnline</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container ">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MagazinWeb</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Products">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="Index">Manager</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Employer" asp-action="Index">Employer</a>
                            </li>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Products" asp-action="AddCash">AddMoney</a>
                            </li>
                        </ul>
                    </div>

                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="text-right">
                            <ul class="nav navbar-nav ml-auto">
                                <li>
                                    <a asp-area="" asp-controller="Account" asp-action="Details" title="Manage">Hello @Context.User.Identity.Name!</a>
                                </li>
                                <li>
                                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                                </li>
                            </ul>
                        </form>
                    }
                    else
                    {
                        <ul class="nav navbar-nav ml-auto">
                            <li><a asp-area="" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Context.Request.Path"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>

                    }
                </div>
                
            </nav>
            </header>
        <div class="container body-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - MagazinOnline - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
    </html>
